/////////////////////////////////////////////
/// 0. DebuGGing and Testing
//////////////////////////////////////////// 

// .row>*{
//     border: 1px solid red;
// }

/////////////////////////////////////////////
/// 1. Patron de Colores
////////////////////////////////////////////
$principal: #dc273c;
$secundario: #293549;
$texto: #293549;

/////////////////////////////////////////////
/// 2. Modificando variables de bootstrap
////////////////////////////////////////////
$primary: $principal; //Color principal
$secondary: $secundario; //Color secundario 
$font-family-base: 'Open Sans', sans-serif; //Tipo de letra
$body-color: $texto; //Color del texto
$font-size-root: 15px; //Tamaño del texto
$enable-negative-margins: true;

// Componente Navbar 
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-focus-width: 0;
$navbar-dark-color: white;
$navbar-dark-hover-color: $principal;
$navbar-dark-active-color: $principal;

// Componente Button 
$btn-border-radius: .2rem;
$btn-padding-y: .8rem;
$btn-padding-x: 2.4rem;

/////////////////////////////////////////////
/// 3. Cargando funciones nativas de Bootstrap
////////////////////////////////////////////
@import "../libs/bootstrap/scss/functions";
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/maps";
@import "../libs/bootstrap/scss/mixins";
@import "../libs/bootstrap/scss/utilities";

/////////////////////////////////////////////
/// 4. API de Utilidades personalizadas
////////////////////////////////////////////
$utilities:(
    "Orden de capas":(
        property: z-index,
        responsive: false,
        class: z-index,
        values:(
            n2:-2,
            n1:-1,
            0:0,
            1:1,
            2:2,
            3:3,
            4:4,
            5:5,
        )
    )
);
@import "../libs/bootstrap/scss/utilities/api";

/////////////////////////////////////////////
/// 4. Imprimiendo Bootstrap 5
////////////////////////////////////////////

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/////////////////////////////////////////////
/// 6. Estilos Generales
////////////////////////////////////////////

@include media-breakpoint-up(lg){
    :root{
        font-size: 16px;
    }
}

/////////////////////////////////////////////
/// 7. Estilos para -> Encabezado 
////////////////////////////////////////////

.encabezado{
    background: url("../images/FondoBienvenidos.jpg") center center/cover fixed;
    // background-image: url("../images/FondoBienvenidos.jpg");
    // background-position: center center;
    // background-size: cover;
    // background-attachment: fixed;    
}

@include media-breakpoint-up(lg){
    .encabezado{
        background: url("../images/FondoBienvenidos-lg.jpg") center center/cover fixed;
    }
}

// Clase cover reutilizable | Aplica una capa semi-transparente
.fondoCover{
    position: relative;
    // El ampersand selecciona al padre : .fondoCover
    &::before{
        content: "";
        background-color: $secundario;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        opacity: .6;
    }
    // .fondoCover > *  | selecciona a sus hijos directos y les asigna relative
    & > *{
        position: relative;
    }
}

// Personalizando icono hamburguesa 
.navbar-toggler i::before{
    transition: all .3s ease;
}

.navbar-toggler[aria-expanded="true"] i::before{
    content: "\f62A";
    color: $principal;
}

// Personalizando el menu desplegable
@include media-breakpoint-down(md){
    .navbar-nav{
        background: $secundario;
        border-radius: .3rem;
    }
    .nav-link{
        padding: 1rem;
        border-bottom: 1px solid rgb(255 255 255 / 25%);
        box-shadow: 0 1px rgb(0 0 0 / 40%);
    }
}

/////////////////////////////////////////////
/// 8. Estilos para -> Plan de acción 
////////////////////////////////////////////

.tituloConLinea{
    margin: 0;
    padding: 0;
    &::after{
        content: "";
        display: block;
        width: 150px;
        border-bottom: 3px solid; //cuando no asignamos un color, se coloca el de su padre
        margin: 1.3rem 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(lg){
            width: 400px;
            margin: 1.8rem 0;
        }
    }
}

.planDeAccionItem{
    transition: box-shadow .3s ease;
}

.planDeAccionItem:hover{
    box-shadow: $box-shadow;
}

/////////////////////////////////////////////
/// 9. Estilos para -> Te ayudamos 
////////////////////////////////////////////
.teAyudamos{
    background: url("../images/fondoTeAyudamos.jpg") center center/cover;
    @include media-breakpoint-up(lg){
       background: url("../images/fondoTeAyudamos-lg.jpg") center center/cover; 
    }
}

/////////////////////////////////////////////
/// 10. Estilos para -> Proyectos 
////////////////////////////////////////////
.itemProyecto{
    display: block;
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        background: $secundario;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity .2s ease;
    }
    &:hover::before{
        opacity: .8;
    }

    h3{
        position: absolute;
        bottom: -3rem;
        margin-bottom: 0;
        width: 100%;
        color: white;
        transition: bottom .6s ease;
    }
    
    &:hover h3{
        bottom: 3rem;
    }


}