@import "../node_modules/bootstrap/scss/functions"; 
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$utilities:(
    "Mostrar/Ocultar elementos":(
        property: display,
        responsive: false,
        class: mostrar,
        values:(
            si: block,
            no: none
        )
    ),
);

@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/bootstrap.scss";