/////////////////////////////////////////////
/// 0. DebuGGing and Testing
//////////////////////////////////////////// 

.row>*{
    border: 1px solid red;
}

/////////////////////////////////////////////
/// 1. Patron de Colores
////////////////////////////////////////////
$principal: #dc273c;
$secundario: #293549;
$texto: #293549;

/////////////////////////////////////////////
/// 2. Modificando variables de bootstrap
////////////////////////////////////////////
$primary: $principal; //Color principal
$secondary: $secundario; //Color secundario 
$font-family-base: 'Open Sans', sans-serif; //Tipo de letra
$body-color: $texto; //Color del texto
$font-size-root: 15px; //Tamaño del texto
$enable-negative-margins: true;

// Componente Navbar 
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-focus-width: 0;
$navbar-dark-color: white;
$navbar-dark-hover-color: $principal;
$navbar-dark-active-color: $principal;

// Componente Button 
$btn-border-radius: .2rem;
$btn-padding-y: .8rem;
$btn-padding-x: 2.4rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/////////////////////////////////////////////
/// 3. Estilos Generales
////////////////////////////////////////////

@include media-breakpoint-up(lg){
    :root{
        font-size: 16px;
    }
}

/////////////////////////////////////////////
/// 4. Estilos para el encabezado
////////////////////////////////////////////

.encabezado{
    background: url("../images/FondoBienvenidos.jpg") center center/cover fixed;
    // background-image: url("../images/FondoBienvenidos.jpg");
    // background-position: center center;
    // background-size: cover;
    // background-attachment: fixed;    
}

@include media-breakpoint-up(lg){
    .encabezado{
        background: url("../images/FondoBienvenidos-lg.jpg") center center/cover fixed;
    }
}

// Clase cover reutilizable | Aplica una capa semi-transparente
.fondoCover{
    position: relative;
    // El ampersand selecciona al padre : .fondoCover
    &::before{
        content: "";
        background-color: $secundario;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        opacity: .6;
    }
    // .fondoCover > * 
    & > *{
        position: relative;
    }

}